body {
    background: #232323;
    margin-bottom: 60px;
    background-image: url("../img/bg_comp.jpg");
    background-size: cover;
}

html {
    position: relative;
    min-height: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    /* Set the fixed height of the footer here */
    line-height: 60px;
    /* Vertically center the text there */
    background-color: #f5f5f5;
}

#content {
    margin-top: 65px;
}

#ticketPain {
padding-left: 20px;
}

#logAlert {
    margin-top: 100px;
    display: none;
}

#searchBox {
    margin-top: 20px;
    margin-bottom: 10px;
}

#clearButton {
    margin-bottom: 10px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 56px;
    line-height: 56px;
}

.col-6,
.col-4 {
    color: whitesmoke;
    text-align: center;
    font-size: 18px;
}

.Active {
    background: #6c757d;
    /* color: #343a40; */
    color: whitesmoke;
    transition: all .2s;
}

.notActive {
    color: whitesmoke;
    background: #343a40;
    transition: all .2s;
}

.cardAlt {
    margin-bottom: 10px;
    /* border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important; */
    border-width: 3px 3px 3px 10px;
    border-color: #6c757d;
    transition: all .2s;
}

.card-bodyAlt {
    background: whitesmoke;
    max-height: 112px;
    transition: all .2s;
}

img {
    /* position: absolute; */
    opacity: 0.2;
    width: 110px;
    z-index: -1;
    float: right;
margin-right: -10px;
    margin-top: -110px;
    transition: all .2s;
}

.p1 {
    /* background: rgb(189, 160, 160) */
    border-color: rgb(182, 0, 0);
}

.p2 {
    /* background: #bdaf9b; */
    border-color: rgb(212, 146, 4);
}

.btn {
    background: #6c757d;
    border-color: #6c757d;
    color: whitesmoke !important;
}